.cards {
  color: black;
  font-weight: 900;
  size: 24px;
  line-height: 1.2;
  margin-top: 51px;
}

.card__list {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  padding: 25px 20px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  margin: 0;
  max-width: 219px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background: transparent url(../images/heart-icon-disabled.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  padding: 0;
}

.card__like-button:hover {
  background: transparent url(../images/heart-icon-hover.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .cards {
    margin-top: 36px;
  }
}
