.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.card__delete-button {
  background: transparent url(../images/delete-card-button.svg) center no-repeat;
  height: 19px;
  width: 18px;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  background-image: url(../images/delete-card-button-hover.svg);
  cursor: pointer;
  opacity: 60%;
  transition: 0.2s ease-in;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  padding: 25px 20px;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  margin: 0;
  max-width: 219px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  color: black;
  font-size: 24px;
  line-height: 1.2;
}

.card__like-button {
  background: transparent url(../images/heart-icon-disabled.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  padding: 0;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/active-like-button.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  transition: 0.2s ease-in;
}
